/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(25, 95%, 52%);
  --first-color-alt: hsl(25, 95%, 48%);
  --white-color: hsl(0, 0%, 98%);
  --black-color: hsl(0, 0%, 5%);
  --body-color: hsl(0, 0%, 0%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --second-font: "Syne", sans-serif;
  --biggest-font-size: 2.375rem;
  --normal-font-size: .938rem;
}


body{
    background-color: #ffffff ;

}
.titlu{
    margin-top: 65px;
}
.fundao{
    padding: 0;
    margin: 0;
    align-items: center;    
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
     position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.bloco1 {
    padding: 50px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    GAP: 100px;
    margin-left: 50px;
}
.zezindopente{
    Width: 700px;
    border-radius: 15px;
    color: #4A5568;
    padding: 20px;
    font-family: var(--body-font);
    font-size: 30px;
}
.zezindopente2{
    width: 500px;
    border-radius: 15px;
}
.bloco2 {
  padding: 50px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    GAP: 100px;
    margin-left: 50px;
}
.amamosbanner{
    background-image: url(../Imagens/508151012e103dfe908e5523f667225c.jpg);
   position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.titulozasso{
    display: flex;
    color: hsl(25, 95%, 52%);
    font-family: var(--body-font);
    font-size: 25px;
    justify-content: center ;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.amamostitulo{
display: block;
font-size: 2.5rem;
font-weight: 700;
width: 29.5ch;
overflow: hidden;
color: #000000;
white-space: nowrap;
box-shadow: 1rem 0 0 #f1e100;
animation: mark .5s step-end infinite alternate, write 3s steps(22,end);
}

@keyframes write {0% {width: 0} }
@keyframes mark {50%{box-shadow: 1rem 0 0 transparent;}}