body {

    background-color: rgb(192, 115, 0);

}

.sobrepor {

    position: relative;
}


img {
    position:absolute
}

.zaz {
  position: absolute;
  font-size: 32px;
  left: 200px;
  top: 135px;
  color: white;
}

.zuz {
  position: absolute;
  font-size: 32px;
  left: 250px;
  top: 235px;
  color: white;
}



